.menu {
  padding-top: 3px;
  list-style: none;

  &__item {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    &_UIkit {
      margin-right: 29px;
    }
  }

  &__link {
    font-family: Montserrat, verdana;
    text-transform: capitalize;
    color: $dark50;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    line-height: 17px;

    &:hover,
    &:active {
      color: $dark75;
    }

    &_footer {
      display: block;
      margin-bottom: 21px;
      text-transform: none;
    }
    &_active {
      font-weight: bold;
      color: $dark75;

      &_footer {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        margin-top: none;
        color: $dark100;
      }
    }
  }
  &__submenu {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid $dark50;
    transition: 0.3s;
    padding: 10px;
    line-height: 25px;
    list-style: none;
    background: #fff;
    z-index: 100;
  }

  &__item:hover &__submenu {
    visibility: visible;
  }

  &__icon {
    font-style: bold;
    vertical-align: top;
    margin-right: -10px;
    margin-top: -1px;
  }
}
