.subscription {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 16.6875rem;
    width: 100%;
    padding: 0.5rem 0.1875rem 0.5rem 0.875rem;
    border: 0.0625rem solid rgba(31, 32, 65, 0.25);
    border-radius: 0.25rem;
    outline: none;
    font-family: Montserrat, Open Sans, "sans-serif";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: rgba(31, 32, 65, 0.75);

    &:hover,
    &:focus {
      border: 0.0625rem solid rgba(31, 32, 65, 0.5);
    }
  }
  &__input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: block;
    width: 100%;
    border: none;
    outline: none;

    &::placeholder {
      color: rgba(31, 32, 65, 0.25);
    }
  }

  &__button {
    display: flex;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__icon {
    -webkit-font-smoothing: antialiased;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    // line-height: 1;
    // letter-spacing: normal;
    // text-transform: none;
    display: inline-block;
    // white-space: nowrap;
    // word-wrap: normal;
    // direction: ltr;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
