.subscription {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 267px;
    width: 100%;
    padding: 8px 3px 8px 14px;
    border: 1px solid $dark25;
    border-radius: 4px;
    outline: none;
    font-family: Montserrat, Open Sans, "sans-serif";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $dark75;

    &:hover,
    &:focus {
      border: 1px solid $dark50;
    }
  }
  &__input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: block;
    width: 100%;
    border: none;
    outline: none;

    &::placeholder {
      color: $dark25;
    }
  }

  &__button {
    display: flex;
    text-align: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__icon {
    -webkit-font-smoothing: antialiased;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    // line-height: 1;
    // letter-spacing: normal;
    // text-transform: none;
    display: inline-block;
    // white-space: nowrap;
    // word-wrap: normal;
    // direction: ltr;
    background: $gradient-purple;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
