mixin subscription(placeholder)
    .subscription
      .subscription__container
        input.subscription__input(placeholder = placeholder type="email" name="subscription")
        button.subscription__button
          i.subscription__icon arrow_forward