$diameter: 100%-100%/17;
$tol: $diameter/17;
$h: 12.95px;
$w: $h/7.75;

.logo {
  display: flex;
  align-items: center;

  &__box {
    display: block;
    width: 40px;
    height: 40px;
    fill: none;
    stroke: url(#gradient-purple);
    stroke-width: $tol;
    stroke-linecap: round;
  }

  &__circle {
    cx: 50%;
    cy: 50%;
    r: $diameter / 2;
  }

  &__arc-left {
    cx: 26.5%;
    cy: 65%;
    stroke-dasharray: 40 150;
    stroke-dashoffset: 80;
    r: $diameter / 4;
  }

  &__arc-right {
    cx: 73.5%;
    cy: 65%;
    stroke: url(#gradient-green);
    stroke-dasharray: 22 150;
    stroke-dashoffset: 83;
    r: $diameter / 4;
  }

  &__mask-circle {
    fill: black;
    stroke: black;
    cx: 31%;
    cy: 61%;
    r: $diameter / 4;
  }
  &__mask-squared {
    width: 100%;
    height: 100%;
    fill: white;
  }

  &__text {
    width: 53.19px; //$h * 4.14;
    height: $h;
    position: relative;
    margin-left: 12.5px;

    // vertical lines
    &-line1 {
      position: absolute;
      left: 8.25%;
      width: $w;
      height: $h;
      background: $dark100;
      border-radius: 50px;
      box-shadow: $h * 2.62 0 0 0 $dark100, $h * 2.98 0 0 0 $dark100,
        $h * 3.65 0 0 0 $dark100;

      //line in circle
      &:before {
        content: "";
        position: absolute;
        left: 655%;
        top: 0%;
        width: $w;
        height: $h;
        background: $dark100;
        border-radius: 50px;
        transform: rotate(-40deg);
      }

      //circle
      &:after {
        content: "";
        position: absolute;
        left: 330%;
        width: $h;
        height: $h;
        background: none;
        border: $h/7.5 solid $dark100;
        border-radius: 50%;
      }
    }
    // rotated lines
    &-line2 {
      position: absolute;
      left: 54.5%;
      top: -12%;
      width: $w;
      height: $h * 1.23;
      background: $dark100;
      border-radius: 50px;
      transform: rotate(-38.5deg);

      //X
      &:before {
        content: "";
        position: absolute;
        width: $w;
        height: $h * 1.23;
        background: $dark100;
        border-radius: 50px;
        transform: rotate(77deg);
      }
      //N
      &:after {
        content: "";
        position: absolute;
        left: 880%;
        top: 77%;
        width: $h/7.5;
        height: $h * 1.1;
        background: $dark100;
        border-radius: 50px;
        transform: rotate(1deg);
      }
    }
    //horizontal lines
    &-line3 {
      position: absolute;
      left: 8.5%;
      top: -37%;
      width: $w;
      height: $h * 0.83;
      background: $dark100;
      border-radius: 50px;
      transform: rotate(90deg);

      //tail of X
      &:before {
        content: "";
        position: absolute;
        left: 700%;
        top: -230%;
        width: $h/9;
        height: $h/7.5;
        background: $dark100;
        border-radius: 50px;
      }
    }
    &_text-hidden {
      display: none;
    }
  }
  &_syle_UI-kit {
    stroke: $dark25;
    width: 48px;
    height: 48px;
  }
}
