extends ../layout/main

include ../../components/logo/logo
include ../../components/button/button

block variables
  - var title = 'Task 2'

block content
  section
    .conteiner
      +logo({})
      +button({text:"login",isSizeM:true})


