extends ../layout/main

include ../../components/header/header
include ../../components/footer/footer

block variables
  - var title = 'UI kit'

block content
  section
    .conteiner
      -var menu = [{title:'home',address:'#', isActive:true},{title:'About us',address:'#'},{title:'services',address:'#',child:[{title:'linklink',address:'#'},{title:'link',address:'#'},{title:'link',address:'#'}]},{title:'Careers',address:'#'},{title:'news',address:'#'},{title:'Documentation',address:'#'}]
      .UIkit__header
        +header({UIkit:true})
      .UIkit__header
        +header({user:"Cosmin Negoita",UIkit:true})
      +footer({descr:"Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",footerMenu1 : [{title:'Navigation',address:'#', isActive:true},{title:'About Us',address:'#'},{title:'News',address:'#'},{title:'Support',address:'#'},{title:'Products',address:'#'}],footerMenu2 : [{title:'ABOUT US',address:'#', isActive:true},{title:'Who we are',address:'#'},{title:'Our team',address:'#'},{title:'Careers',address:'#'},{title:'Investors',address:'#'}], footerMenu3 : [{title:'Support',address:'#', isActive:true},{title:'Documentation',address:'#'},{title:'Community',address:'#'},{title:'Get in Touch',address:'#'}], subscr:"Subscribe to our newsletter", subscrText:"Receive our latest news and promotions in your inbox!", placeholder:"Your email address", copyrightText:"Copyright © 2018 Toxin UI Kit. All rights reserved."})