extends ../layout/main

include ../../components/header/header

block variables
  - var title = 'UI kit'

block content
  section
    .conteiner
      -var menu = [{title:'home',address:'#', isActive:true},{title:'About us',address:'#'},{title:'services',address:'#',child:[{title:'linklink',address:'#'},{title:'link',address:'#'},{title:'link',address:'#'}]},{title:'Careers',address:'#'},{title:'news',address:'#'},{title:'Documentation',address:'#'}]
      .UIkit__header
        +header({UIkit:true})
      .UIkit__header
        +header({user:"Cosmin Negoita",UIkit:true})