@import "../components/logo/logo.scss";
@import "../components/button/button.scss";
@import "../components/menu/menu.scss";

.header {
  box-shadow: 0rem 10px 20px rgba(31, 32, 65, 0.05);
  position: relative;
  background-color: rgb(83, 60, 60);
  z-index: 3;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin: 0 auto;
    max-width: 1160px;
    flex-wrap: wrap;
    // background:grey;
  }

  &__nav-block {
    display: flex;
    align-items: center;
    // margin-top: auto
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }

  &__button1 {
    margin-right: 20px;
    margin-left: -1px;
  }

  &__user {
    border-left: solid 1px rgba(31, 32, 65, 0.1);
    padding: 6px 0px 6px 30px;
    margin-left: 3px;
  }

  &__user-link {
    font-family: Montserrat, verdana;
    text-transform: capitalize;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
  }
}
