block variables

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    meta(name="description", content="Task 2")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    //- block head


  body(class=bodyClass)
    block content

    block script