@import "utils/reset.scss";
@import "utils/fonts.scss";
@import "utils/vars.scss";
@import "../components/header/header.scss";
// @import "../components/logo/logo.scss";
// @import "../components/button/button.scss";
// @import "../components/menu/menu.scss";

html {
  font-family: "Montserrat", "Quicksand", "sans-serif";
  font-size: 100%;
}

body {
  background-color: #e5e5e5;
}
